---
import "./about.css";
---

<section class="inicio">
	<h1 class="display-3 pb-2">Sobre Mi</h1>

	<p>
		Mi nombre es Ernesto Almazán, soy <strong>desarrollador Web</strong>
		y tengo experiencia tanto en el front-end como en el back-end lo que me permite
		trabajar en todos los aspectos de un proyecto web, desde la creación de interfaces
		de usuario atractivas y funcionales hasta la implementación de API REST en
		el back-end para la comunicación con el front end por medio del protocolo
		cliente-servidor.<br />

		Actualmente me estoy especializando en el <strong
			>desarrollo Full Stack con JavaScript. </strong>
			<p>Mis habilidades técnicas incluyen:</p>
			<ul>
				<li>
					Desarrollo Front end con javascript vanilla, react js y
					astro js.
				</li>
				<li>
					Desarrollo Back end con node js , php, mysql y firebase.
				</li>
				<li>Manejo de frameworks como Bootstrap y jquery.</li>
				<li>Manejo de terminal Linux, git</li>
				<li>Postman para testear APIS</li>
				<li>
					Uso de docker para manipular el proyecto dentro del
					contenedor
				</li>
			</ul>

			<h3 class="text-center pt-4">Más información</h3>
			<div class="botonera_grid">
				<div>
					<a
						target="_blank"
						class="btn btn-primario"
						href="../../../cv2025.pdf"
						role="button">Curriculum »</a
					>
				</div>
				<div>
					<a
						target="_blank"
						class="btn btn-primario"
						href="https://www.linkedin.com/in/dev-almazan/"
						role="button">Linkedin »</a
					>
				</div>
				<div>
					<a
						target="_blank"
						class="btn btn-primario"
						href="mailto:ernest_almazan@outlook.com?subject=Consulta&body=Hola,%20estoy%20interesado%20en..."
						role="button">Contacto »</a
					>
				</div>
				<div>
					<a
						target="_blank"
						class="btn btn-primario"
						href="https://github.com/Dev-almazan/"
						role="button">Git Hub »</a
					>
				</div>
			</div>
		</strong>
	</p>
</section>
