---
import "./about.css";
---

<section class="inicio">
	<div>
		<h1 class="display-3 pb-2">Sobre Mi</h1>

		<p>
			Mi nombre es Ernesto Almazán, soy <strong
				>desarrollador web full stack</strong
			> y tengo experiencia en el desarrollo y mantenimiento de aplicaciones
			web completas. Poseo sólidas habilidades tanto en el front-end como en
			el back-end, lo que me permite trabajar en todos los aspectos de un proyecto
			web, desde la creación de interfaces de usuario atractivas y funcionales
			hasta la implementación de sistemas de back-end, consumo y creación de
			API REST.
		</p>
		<p>Mis habilidades técnicas incluyen:</p>
		<ul>
			<li>Desarrollo Front end con HTML5 , CSS3 , JAVA SCRIPT</li>
			<li>Desarrollo Back end con PHP, MYSQL , Firebase</li>
			<li>
				Manejo de librerias y frameworks como React JS, Astro JS, Jquery,
				Bootstrap,CURL
			</li>
			<li>Manejo de terminal Linux, git bash, postman</li>
			<li>SEO y performance en sitios web</li>
		</ul>

		<p>
			<a class="btn btn-primario" href="../../../ernesto.pdf" role="button"
				>Ver CV »</a
			>
		</p>
	</div>
</section>
