

.inicio
{
    margin: 0 auto ;
    height: auto;
    width: 70%;
    grid-template-columns: repeat(1 ,1fr);
    display: grid;
    grid-gap:1%;
    align-content: center;
    padding: 5rem 12%;
    box-sizing: border-box;
}

.inicio div
{
display: grid;
align-content: center;
margin: 0 auto;
}

.inicio h1 {
    font-weight: 600 !important;
    font-size: 3.4em;
}
.inicio h2 {
    font-weight: 300 !important;
    font-size: 2.8em !important;

}
.inicio p {
    font-weight: 200 !important;
    font-size: 1.2em;
    line-height: 36px;
}

.inicio .img
{
    width: 70%;
    height: auto;
    padding: 2%;
    box-sizing: border-box;
    margin: 0 auto;
}

.inicio li
{
    font-weight: lighter !important;
    font-size: 1.2em;
}

.inicio .img:hover {
    transition: .3s ease-in-out;
    margin-bottom: 10%;
}

.botonera_grid
{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 2rem 0;
    align-items: center;
}
.botonera_grid a 
{
    width: 10rem;
}
@media (max-width: 1600px) {
.inicio {
        height:auto;
        padding: 2rem 8% 3rem 8%;
    }
}

@media (max-width: 1250px) {
.inicio {
        height: auto;
        width: 80% !important;
        grid-template-columns: repeat(1, 1fr);
                align-items: center;
                    align-content: center;
                    box-sizing: border-box;
                    padding: 2rem 0 6rem 0;
        align-items: center;
    }

        .inicio    .img {
            width:80%;
            padding: 1%;  
                margin: 0 auto;
                    display: grid;
                    align-content: center;
                    align-items: center;
        }

.inicio h1 {
    padding-top: 3rem;
    font-weight: 600 !important;
    font-size: 1.6em;
    text-align: center;
}
.inicio h2 {

    font-size: 1.4em !important;
    text-align: center;
}
.inicio p {
    font-weight: 300 !important;
    font-size: .9em;
    line-height: 33px;
}
.inicio h3
{
    font-size: 1.4em !important;
}
.inicio ul{
    padding: 0rem 1rem 0rem 1rem;
    box-sizing: border-box;
  
}
.inicio li {
font-weight: 200 !important;
    font-size: .9em;
    line-height: 35px;
}

.botonera_grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding:  0 0 2rem 0;
    align-items: center;
    grid-gap:10px;
    box-sizing: border-box;
}

.botonera_grid a {
    width: 10rem;
}
}