---
    import './home.css';
   
---
		<div class="inicio">
            <div class="sec1">
			
						<h1 class="display-3 pb-4">Bienvenido a mi Portafolio Web! 游녦</h1>
						<p>Mi nombre es Ernesto Almaz치n, soy desarrollador Web, tengo m치s de 3 a침os de experiencia como desarrollador web trabajando tanto en el Front End como en el Back end,a continuaci칩n podras encontrar algunos de los proyectos que he generado asi como informaci칩n acerca de mi perfil. </p>
						<p><a class="btn btn-primario" href="/proyectos" role="button">Ver proyectos 췉</a></p>
			</div>
            <div class="sec2">
					<img src="./img/astro.png" class="img" alt=" Ernesto Almaz치n" />
			</div>
        </div>