

.inicio
{
    margin: 0 auto;
    height: 90vh;
    width: 100%;
    grid-template-columns: repeat(2 ,1fr);
    display: grid;
    padding: 0% 1% 0% 17%;
    align-items: center;
    align-content: center !important;
}

.inicio div
{
    align-content: center;
    margin:  0 auto;
}

.inicio .sec1
{
    color: whitesmoke;
}

.sec1 h1 {
    font-weight: 600 !important;
    font-size: 3.4em;
   
}
.sec1 h2 {
    font-weight: 300 !important;
    font-size: 2.8em !important;

}
.sec1 p {
    font-weight: 200 !important;
    font-size: 1.2em;
    line-height: 36px;
}

.img
{
    width: 70%;
    height: auto;
    padding: 2%;
    box-sizing: border-box;
    margin: 0 auto;
}

.img:hover {
    transition: .3s ease-in-out;
    margin-bottom: 10%;
}

@media (max-width: 1250px) {
.inicio {
        height: auto;
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        padding: 5% 7%;
    }

        .img {
            width: 80%;
            padding: 5%;  
        }

.sec1 h1 {
    padding-top: 10%;
    font-weight: 600 !important;
    font-size: 1.6em;
}
.sec1 h2 {

    font-size: 1.4em !important;

}
.sec1 p {
    font-weight: 200 !important;
    font-size: 1em;
    line-height: 33px;
}
}