---
    
	import './home.css';
	import { Image } from 'astro:assets';
	import img from './img/astro.png';
   
---
		<div class="inicio">
            <div class="sec1">
			
						<h1 class="display-3 pb-2">Bienvenido a mi Portafolio Web! 👋</h1>
						<h2 class=" pb-2"> Desarrollador Web Full Stack</h2>
						<p>A continuación podras encontrar algunos de los proyectos que he generado asi como información acerca de mi. </p>
						<p><a class="btn btn-primario" href="/proyectos" role="button">Ver proyectos »</a></p>
			</div>
            <div class="sec2">
					<Image src={img} class="img" alt=" Ernesto Almazán" />
			</div>
        </div>