---
    import './home.css';
   
---
		<div class="inicio">
            <div class="sec1">
			
						<h1 class="display-3 pb-4">Bienvenido a mi Web! 游녦</h1>
						<p>Mi nombre es Ernesto Almaz치n, soy desarrollador Web Full stack , tengo m치s de 3 a침os de experiencia como desarrollador he participado en proyectos que requieren el desarrollo de sitios web corporativos, landing pages corporativas, sistemas web y puedo decir que he aprendido mucho en cada proyecto desde generarlo de forma nativa con los lenguajes de programacion hasta integrarlos por medio de APIS a otros sistemas web.</p>
						<p><a class="btn btn-primario" href="/proyectos" role="button">Ver proyectos 췉</a></p>
			</div>
            <div class="sec2">
					<img src="./img/astro.png" class="img" alt=" Ernesto Almaz치n" longdesc=" Ernesto Almaz치n" />
			</div>
        </div>