@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;500;600;700&display=swap');

body
{
background-color: #171818;
    background-image: linear-gradient(160deg, #2f30328e 0%, #0f79c0 100%);
        color: aliceblue;
        background-size: 900px;
        background-attachment: fixed;
            animation: movimientoInfinito 6s linear infinite;
            font-family: 'Kanit', sans-serif !important;
}

@keyframes movimientoInfinito {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 900px 0;
    }
}

/*Navbar*/


.menu
{
    padding-top: 1%;
    width: 60%;
    margin:  0 auto;
}
.menu svg
{
    width: 1.5rem;
    align-items: center;
    display: grid;
    align-content: center;
    margin: 0 auto;
    color: #fff;
}

.menu .nav-item
{
    padding-right: 5%;
    box-sizing: border-box;
    color: #fff !important;
}

.menu .nav-link {
    color: #fff !important;
    font-size: 1.1em !important;
}

.btn-primario
{
    background-color: #171818;
    color: aliceblue;
    font-size: 1.2em;
}
.bg-primario
{
    background-color: #2a61e4a4;
}

.btn-primario:hover {
    transition: .3s all;
        margin-left: 1%;
    background-color: transparent;
    border: 1px solid aliceblue;
    box-shadow: 0 .5rem 1rem rgba(255, 255, 255, 0.15) !important;
}



@media (max-width: 1250px) {
        /*Navbar*/

        .menu
        {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: 1000;
        }

        .botones:hover {
            transition: .3s all;
            margin-bottom: 0;
            box-shadow: 0 .5rem 1rem rgba(255, 255, 255, 0) !important;
            background-color: transparent !important;
        }

    .menu, .offcanvas-end {
          text-align: center;
            background-color: #171818b1 !important;
           
        }

    .menu .offcanvas-body
    {
        display: grid;
        align-content: center;
        width: 100% !important;
    }
        .menu svg {
            width: 2.8rem;
        }
    
        .menu .nav-item {
            padding-right: 0%;
            box-sizing: border-box;
            padding: 5% 0;
        }
}