---
    
	import './proyectos.css';
	import proyectos from './data.json';
	
---
		<section class="proyectos">
            <div class="sec2">
						<h1 class="display-3 pb-4 text-center pt-4">Proyectos Web</h1>
						<div class="row col-md-12">
							{
							proyectos.map((data) =>
								(
								<div class="col-md-4 mt-4 mb-4">
									<div class="card tarjeta">
										
										<div class="card-body">
											<h5 class="card-title">{data.name}</h5>
											<p class="card-text">{data.description}</p>
											<a href={data.url} class="btn btn-primario" target="_blank">Ver Demo</a>
										</div>
									</div>
								</div>
								))
							}  
			</div>         
        </section>